.label {
    position: absolute;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid #ff0000;
    background-color: #ff000033;
    color: #000;
    cursor: move;
    z-index: 1000;
}